
LearningDotNetCore/.vs/LearningDotNetCore/v16/.suo
LearningDotNetCore/.vs/LearningDotNetCore/v16/.suo
LearningDotNetCore/.vs/LearningDotNetCore/v16/Server/sqlite3/db.lock
LearningDotNetCore/.vs/LearningDotNetCore/v16/Server/sqlite3/storage.ide
LearningDotNetCore/.vs/LearningDotNetCore/v16/Server/sqlite3/storage.ide-shm
LearningDotNetCore/.vs/LearningDotNetCore/v16/Server/sqlite3/storage.ide-wal
LearningDotNetCore/.vs/LearningDotNetCore/v16/.suo
LearningDotNetCore/.vs/LearningDotNetCore/v16/.suo
